<div class="container d-flex justify-content-center mt-3">
  <div class="w-75">
    <h1>ショッピングカート</h1>

    <div class="offset-8 col-4">
      <div class="row">
        <div class="col-6">
          <h2>数量</h2>
        </div>
        <div class="col-6">
          <h2>小計</h2>
        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <% @user_cart_items.each do |user_cart_item| %>
        <% product = Product.find(user_cart_item.item_id) %>
        <div class="col-md-2 mt-2">
          <%= link_to product_path(product) do %>
              <%= image_tag "/images/dummy.png", class: "img-fuild w-100" %>
          <% end %>
        </div>
        <div class="col-md-6 mt-4">
          <h3 class="mt-4"><%= product.name %></h3>
        </div>
        <div class="col-md-2">
          <h3 class="w-100 mt-4"><%= user_cart_item.quantity %></h3>
        </div>
        <div class="col-md-2">
          <h3 class="w-100 mt-4">￥<%= user_cart_item.price_cents * user_cart_item.quantity %></h3>
        </div>
      <% end %>
    </div>

    <hr>

    <div class="offset-8 col-4">
      <div class="row">
        <div class="col-6">
          <h2>合計</h2>
        </div>
        <div class="col-6">
          <h2>￥<%= @user_cart.total.fractional / 100 %></h2>
        </div>
        <div class="col-12 d-flex justify-content-end">
          表示価格は税込みです
        </div>
      </div>
    </div>
    
    <%= form_with url: cart_users_path , method: :delete, class: "d-flex justify-content-end mt-3" do |f| %>
      <%= link_to "買い物を続ける", products_path, class: "btn favorite-button border-dark text-dark mr-3" %>
      <div class="btn submit-button" data-toggle="modal" data-target="#buy-confirm-modal">購入を確定する</div>
       <div class="modal fade" id="buy-confirm-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog" aria-labelledby="staticBackdropLabel" aria-hidden="true">
         <div class="modal-dialog">
           <div class="modal-content">
             <div class="modal-header">
               <h5 class="modal-title" id="staticBackdropLabel">購入を確定しますか？</h5>
               <button type="button" class="close" data-dismiss="modal" aria-label="閉じる">
                 <span aria-hidden="true">&times;</span>
               </button>
             </div>
             <div class="modal-footer">
               <button type="button" class="btn favorite-button border-dark text-dark" data-dismiss="modal">閉じる</button>
               <button type="submit" class="btn submit-button">購入</button>
             </div>
           </div>
         </div>
       </div>
    <% end %>

  </div>
</div>
