<div class="container">
  <%= form_with url: mypage_password_users_path, local: true, method: :put do |f| %>
    <div class="form-group row">
      <%= f.label :password, "新しいパスワード", class: "col-md-3 col-form-label text-md-right" %>

      <div class="col-md-7">
        <%=
          f.password_field :password,
          class: "form-control #{"is-invalid" if @user.errors.messages[:password].present? }",
          autocomplete: "new-password"
        %>

        <% if @user.errors.messages[:password].present? %>
          <span class="invalid-feedback" role="alert">
            <strong><%= @user.errors.messages[:password].first %></strong>
          </span>
        <% end %>
      </div>
    </div>

    <div class="form-group row">
      <%= f.label :password_confirmation, "確認用", class: "col-md-3 col-form-label text-md-right" %>

      <div class="col-md-7">
        <%=
          f.password_field :password_confirmation,
          class: "form-control #{"is-invalid" if @user.errors.messages[:password_confirmation].present? }",
          autocomplete: "new-password"
        %>
      </div>
    </div>

    <div class="form-group d-flex justify-content-center">
      <button type="submit" class="btn btn-danger w-25">
        パスワード更新
      </button>
    </div>
  <% end %>
</div>
