
<div class="row">
  <div class="col-2">
    <%= render partial: "layouts/sidebar", locals: { categories: @categories, major_category_names: @major_category_names } %>
  </div>
  <div class="col-9">
    <div class="container">
      <% if @category.present? %>
        <%= link_to "トップ", "#", category: @major_category_name %> > <%= @category.name %>
        <h1><%= @category.name %>の商品一覧<%= @products.count %>件</h1>
      <% end %>
    </div>
    <div class="container mt-4">
      <div class="row w-100">

        <% @products.each do |product|%>
        <div class="col-3">
          <%= link_to product_path(product) do %>
            <%= image_tag "/dummy.png", class: "img-thumbnail"%>
          <% end %>
          <div class="row">
            <div class="col-12">
              <p class="samuraimart-product-label mt-2">
                <%= product.name %><br>
                <label>¥<%= product.price %></label>
              </p>
            </div>
          </div>
        </div>
        <% end %>

      </div>
    </div>
   <%= paginate @products %>
  </div>
</div>

